@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.header {
  display: flex;
  background-color: #f5f7ff;
  box-shadow: 0px 4px 23px 0px rgba(49, 49, 49, 0.05);
}
.header__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  max-width: 1440px;
  margin: 0 auto;
  background: #f5f7ff;
}
.header__logo {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-right: 56px;
}
.header__title {
  color: #353434;
  font-family: Odibee Sans;
  font-size: 29px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 5%;
  text-align: left;
}
.header__navbar {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  color: #272323;
  margin-right: 67px;
}
.header__navbar a {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  text-decoration: none;
  color: #272323;
}
.header__navbar a:hover {
  color: #4238af;
}
.header__search {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
}
.header__search input {
  border: none;
  border-radius: 50px;
  background: #fff;
  width: 310px;
  height: 35px;
  color: #a8a8a8;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2%;
  text-align: none;
  padding-left: 19px;
}
.header__search-button button {
  position: relative;
  top: 4px;
  bottom: 3px;
  right: 35px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(192, 194, 248, 0.2196078431);
  border: none;
  cursor: pointer;
}
.header__login {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2%;
  text-align: left;
}
.header__login a {
  text-decoration: none;
  color: #272323;
}
.header__login a:hover {
  color: #4238af;
}
.header__burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}
.header__burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #4238af;
}

.footer {
  display: flex;
  background-color: #DBE2FF;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  width: 1440px;
  height: 425px;
  margin: 0 auto;
  background: #DBE2FF;
  border-radius: 30px 30px 0px 0px;
  background: #DBE2FF;
}
.footer__header-wrapper {
  width: 1085px;
  height: 165px;
  padding: 110px 190px 100px 165px;
}
.footer__header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}
.footer__row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  gap: 30px;
}
.footer__row-title {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: none;
  text-align: left;
  color: #353434;
}
.footer__row-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  gap: 20px;
}
.footer__row-links a {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2%;
  text-align: left;
  text-decoration: none;
  color: #717171;
}
.footer__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
}
.footer__line {
  align-self: center;
  width: 1110px;
  border: 2px solid rgb(98, 91, 174);
}
.footer__info {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.footer__logo {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.footer__image img {
  width: 26px;
  height: 25px;
}
.footer__links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 65px;
}
.footer__links a {
  text-decoration: none;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 2%;
  text-align: none;
  color: #3A2E5C;
}
.footer__social {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer__social-icon {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.footer__social-icon img {
  width: 15px;
  height: 12px;
}
.footer__social-icon_active {
  background-color: #4238af;
}

.discover {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
  box-shadow: 0px 4px 23px 0px rgba(49, 49, 49, 0.05);
  margin-top: 0;
}
.discover__wrapper {
  width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  background: #f5f7ff;
}
.discover__sidebar {
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  width: 545px;
  margin-top: 125px;
}
.discover__title {
  font-family: Prompt;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 7%;
  text-align: left;
  color: #353434;
  margin-bottom: 18px;
}
.discover__title span {
  color: #ff5c00;
}
.discover__subtitle {
  color: #a8a8a8;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 30px;
}
.discover__buttons {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  gap: 35px;
}
.discover__buttons .discover__button-left {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 4px 12px 0px rgba(49, 49, 49, 0.05);
  background: #4238af;
  width: 150px;
  height: 45px;
  border: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2%;
  text-align: none;
  cursor: pointer;
}
.discover__buttons .discover__button-right {
  width: 155px;
  height: 45px;
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #f5f7ff;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: none;
  letter-spacing: 2%;
  text-align: none;
  white-space: nowrap;
  border: none;
}
.discover__img {
  margin-top: 60px;
}

.roulette {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
  margin-top: 35px;
  margin-bottom: 65px;
}
.roulette__wrapper {
  width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}

.find {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.find__wrapper {
  width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.find__content-wrapper {
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  margin-right: 40px;
}
.find__header {
  font-family: Oswald;
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: left;
  color: #ff5c00;
  margin-bottom: 20px;
}
.find__sidebar {
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
}
.find__sidebar .find__title {
  color: #353434;
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: left;
}
.find__card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 435px;
  height: 60px;
  border-radius: 8px;
  color: #f5f7ff;
}
.find__card .find__justify {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
}
.find__card-number {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-right: 15px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600 bold;
  line-height: none;
  letter-spacing: none;
  text-align: none;
}
.find__card-number_first {
  background-color: #f3e0ff;
  color: #9444c9;
}
.find__card-number_second {
  background-color: #e7e9fe;
  color: #626fff;
}
.find__card-number_third {
  background-color: #ffdecc;
  color: #ff5c00;
}
.find__subtitle {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 2%;
  text-align: left;
  color: #353434;
}
.find__icon {
  text-align: end;
  margin-right: 24px;
}
.find__card-active {
  width: 435px;
  height: 135px;
  border-radius: 8px;
  color: #f5f7ff;
}
.find__card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.find__card-wrapper .find__justify {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
}
.find__content {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2%;
  text-align: none;
  color: #a8a8a8;
}
.find__video img {
  width: 635px;
  height: 435px;
  border-radius: 20px;
}
.find__video .find__player {
  position: relative;
  width: 77px;
  height: 77px;
  top: -185px;
  left: -370px;
  cursor: pointer;
}

.choose {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.choose__wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  margin-bottom: 120px;
}
.choose__header {
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  margin-bottom: 45px;
  margin-top: 120px;
}
.choose__title {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: center;
  color: #353434;
}
.choose__subtitle {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #a8a8a8;
}
.choose__content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  gap: 30px;
}
.choose__card {
  width: 350px;
  height: 255px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  transition: transform 1.5s, box-shadow 1s;
}
.choose__card .choose__card-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: none;
  margin: 40px 37px 34px 37px;
}
.choose__card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
}
.choose__icon {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  margin-bottom: 22px;
}
.choose__icon_blue {
  background-color: #626fff;
}
.choose__icon_orange {
  background-color: #ff5c00;
}
.choose__icon_purple {
  background-color: #9444c9;
}
.choose__card-title {
  color: #353434;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 15px;
}
.choose__card-info {
  color: #a8a8a8;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2%;
  text-align: left;
}

.jobs {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.jobs__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.jobs__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  margin-bottom: 80px;
}
.jobs__title {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: center;
  color: #353434;
  margin-bottom: 20px;
}
.jobs__subtitle {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #a8a8a8;
}
.jobs__content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  left: 170px;
  position: relative;
}
.jobs__navbar {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}
.jobs__arrow {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 7px;
  cursor: pointer;
}
.jobs__arrow_active {
  background-color: #EF6010;
}
.jobs__arrow_unactive {
  background-color: #fff;
}
.jobs__content {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  gap: 65px;
}
.jobs__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
}
.jobs__card_active {
  width: 380px;
  height: 465px;
  border-radius: 20px;
  box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  background: rgb(249, 250, 255);
  position: relative;
  bottom: 35px;
}
.jobs__card_unactive {
  width: 380px;
  height: 465px;
  border-radius: 20px;
  box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  background: rgb(255, 255, 255);
}
.jobs__card-more {
  position: relative;
  left: 320px;
  cursor: pointer;
}
.jobs__profile-image {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.jobs__profile-image img {
  width: 83px;
  height: 83px;
}
.jobs__position {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
  text-align: center;
  margin-top: 40px;
}
.jobs__team {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2%;
  text-align: center;
  margin-top: 15px;
  color: #4238af;
}
.jobs__salary-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.jobs__salary-icon {
  color: rgb(0, 0, 0);
}
.jobs__salary {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
  text-align: none;
}
.jobs__salary span {
  color: #898989;
}
.jobs__location-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-bottom: 35px;
}
.jobs__location-icon {
  color: rgb(0, 0, 0);
}
.jobs__location {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
  text-align: none;
}
.jobs__location span {
  color: #898989;
}
.jobs__buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.jobs__favorite-button-wrapper .jobs__favorite-button_active {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #ff5c00;
  cursor: pointer;
}
.jobs__favorite-button-wrapper .jobs__favorite-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.jobs__favorite-button {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2%;
  text-align: none;
  color: #fff;
}
.jobs__apply-button-wrapper .jobs__apply-button_active {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 47px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: #544CAC;
  cursor: pointer;
}
.jobs__apply-button-wrapper .jobs__apply-button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 47px;
  background: rgba(56, 49, 139, 0.3294117647);
  cursor: pointer;
}
.jobs__apply-button_active {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2%;
  text-align: none;
  color: #fff;
  cursor: pointer;
}
.jobs__apply-button {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2%;
  text-align: none;
  color: #38318B;
  cursor: pointer;
}
.jobs__view {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
  margin-top: 75px;
  margin-bottom: 120px;
}
.jobs__view .jobs__view-button {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  width: 150px;
  height: 50px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2%;
  text-align: none;
  color: #fff;
  border: none;
  border-radius: 47px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
  cursor: pointer;
}

.customer {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.customer__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.customer__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  gap: 20px;
  margin-bottom: 45px;
}
.customer__title {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: center;
  color: #353434;
}
.customer__subtitle {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #a8a8a8;
}
.customer__content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  gap: 30px;
}
.customer_img img {
  width: 350px;
  height: 350px;
}
.customer__content {
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  width: 730px;
  height: 280px;
}
.customer__content-title {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2%;
  text-align: none;
  color: #353434;
}
.customer__content-subtitle {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: none;
  color: #868686;
  margin-bottom: 20px;
}
.customer__content-stars {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.customer__content-stars p {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2%;
  text-align: none;
}
.customer__content-text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: none;
  color: #353434;
  margin-bottom: 40px;
}
.customer__content-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.customer__button {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.customer__button_active {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 7px;
  background-color: #EF6010;
  border: none;
  cursor: pointer;
}
.customer__button_active img {
  width: 21px;
  height: 18px;
}
.customer__button_unactive {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 7px;
  background-color: #F3F5FF;
  border: none;
  cursor: pointer;
}
.customer__button_unactive img {
  width: 21px;
  height: 18px;
}
.customer__icons img {
  width: 140px;
  height: 50px;
}

.statistic {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.statistic_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  width: 1110px;
  height: 230px;
  margin: 0 auto;
  background-color: #CED5F4;
  border-radius: 30px;
  margin-bottom: 120px;
}
.statistic__content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.statistic__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  gap: 15px;
}
.statistic__item-header {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: center;
  color: #584EC6;
}
.statistic__item-footer {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #fff;
}

.price {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.price__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.price__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  gap: 20px;
  margin-bottom: 75px;
}
.price__title {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: center;
  color: #353434;
}
.price__subtitle {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #a8a8a8;
}
.price__content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  gap: 30px;
}
.price__card-wrapper {
  width: 350px;
  height: 540px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  transition: transform 1.5s, box-shadow 1s;
}
.price__card-wrapper:hover {
  color: #F9FAFF;
  transform: translateY(-30px);
  box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
}
.price__card-wrapper:hover .price__button button {
  background-color: #544CAC;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.price__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  margin: 62px 65px;
}
.price__card-title {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2%;
  text-align: center;
  color: #4238af;
  margin-bottom: 30px;
}
.price__card-subtitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  gap: 25px;
  margin-bottom: 70px;
}
.price__card-price {
  font-family: Oswald;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 7%;
  text-align: center;
  color: #353434;
}
.price__card-term {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #8A86B9;
}
.price__include {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: none;
  gap: 20px;
  margin-bottom: 50px;
}
.price__info {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.price__info p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  color: #a8a8a8;
}
.price__button {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.price__button button {
  transition: 1.5s;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
  width: 170px;
  height: 45px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2%;
  text-align: none;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #BDBBD9;
  cursor: pointer;
}

@media (max-width: 430px) {
  header .header__navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f5f7ff;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }
  header .header__navbar a {
    font-size: 18px;
  }
  header .header__navbar.active {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
  }
  header .header__burger {
    display: flex;
  }
  header .header__wrapper {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  header .header__search {
    display: none;
  }
  .discover {
    max-width: 430px;
  }
  .discover__wrapper {
    max-width: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
  }
  .discover__sidebar {
    width: auto;
    margin-top: 75px;
  }
  .discover__title {
    text-align: center;
  }
  .discover__subtitle {
    text-align: justify;
  }
  .discover__buttons {
    justify-content: center;
    gap: 15px;
  }
  .discover__buttons .discover__button-right {
    width: auto;
  }
  .discover__img img {
    width: 380px;
    height: 300px;
  }
  .roulette__wrapper img {
    width: 380px;
  }
  .find {
    max-width: 430px;
  }
  .find__wrapper {
    max-width: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
  }
  .find__content-wrapper {
    justify-content: center;
    margin-right: 0px;
  }
  .find__card {
    max-width: 380px;
  }
  .find__card-active {
    max-width: 380px;
  }
  .find__video {
    margin-top: 10px;
  }
  .find__video img {
    max-width: 380px;
    max-height: 200px;
  }
  .find__video__player {
    top: -100px;
    left: -200px;
    cursor: pointer;
  }
  .choose__wrapper {
    max-width: 380px;
  }
  .choose__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .jobs__wrapper {
    max-width: 380px;
  }
  .jobs__content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 0px;
  }
  .jobs__navbar {
    margin-right: 0px;
  }
  .jobs__card_active {
    display: none;
  }
  .jobs__content {
    display: flex;
    justify-content: none;
    flex-direction: column;
    align-items: none;
    gap: 65px;
  }
  .customer__wrapper {
    max-width: 380px;
  }
  .customer__content-wrapper {
    flex-direction: column;
  }
  .customer_img {
    display: flex;
    justify-content: center;
    flex-direction: none;
    align-items: none;
  }
  .customer__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
    width: 380px;
    height: 400px;
  }
  .customer__content-title {
    text-align: center;
  }
  .customer__content-subtitle {
    text-align: center;
  }
  .customer__content-stars {
    justify-content: center;
  }
  .customer__content-text {
    text-align: justify;
  }
  .statistic_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
    width: 380px;
    height: 550px;
  }
  .statistic__content {
    display: flex;
    justify-content: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .price__wrapper {
    max-width: 380px;
  }
  .price .price__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
    margin: 0 auto;
  }
  footer .footer__wrapper {
    width: auto;
    height: 500px;
  }
  footer .footer__row-links {
    display: none;
  }
  footer .footer__header-wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: none;
    align-items: center;
    padding: 0;
  }
  footer .footer__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
    margin-bottom: 50px;
    gap: 25px;
  }
  footer .footer__content {
    width: auto;
  }
  footer .footer__line {
    width: 100%;
  }
  footer .footer__info {
    width: 90%;
  }
  footer .footer__links {
    display: none;
  }
}