$yellow : #FF5C00;
$black-text: #353434;
$full-black:rgb(0, 0, 0);
$full-white: #fff;
$lightgreen: #F5F7FF;
$dark-text: #272323;
$search-button-color: #C0C2F838;
$blue: #4238af;
$grey: #A8A8A8;
$bgc1: #F3E0FF;
$bgc2:#E7E9FE;
$bgc3:#FFDECC;
$num1-purple:#9444C9;
$num2-blue:#626FFF;
$num3-orange:#FF5C00;
$choose-icon-purple: #6156DC;